@import url('http://fonts.cdnfonts.com/css/plaguard');

html {
    background: #0F0E0E;
}

body {
    margin: 0;
}

/*
    ========================================
    ANIMATION
    ========================================
*/

.animation{
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -225px;
}

#myCanvas{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

/*
    ========================================
    TITLE SCREEN BACGROUND
    ========================================
*/

#initial_screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    /* padding: 10px 0; */
    z-index: 1;
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Plaguard', sans-serif;
    /* letter-spacing: 0.1cm; */

}

/*
    ========================================
    IMAGE
    ========================================
*/

.player_start{
    height: auto;
    width: 25vw;
    margin: 0 1rem;
}

/*
    ========================================
    FORM and START BUTTON
    ========================================
*/

#user-form {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 1rem;
    padding: 0 2rem;
    color: #fff;
}

#username_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.75rem;
}

#username-label {
    font-size: 160%;
}

#username-input {
    font-size: 130%;
    width: 80%;
    height: 40px;
    margin: 0.75rem 0 0.35rem 0;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#username-warning-msg {
    width: 80%;
    font-size: 90%;
}

#start_btn{
    width: 80%;
    height: 50px;
    font-size: 1.6em;
    color:#fff;
    font-family: 'Plaguard', sans-serif;
    letter-spacing: 3px;
    border: none;
    background: #141E30;
    /*fallbackforoldbrowsers*/background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /*Chrome10-25,Safari5.1-6*/background: linear-gradient(to right, #243B55, #141E30);
    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/background: #FDC830;
    /*fallbackforoldbrowsers*/background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    /*Chrome10-25,Safari5.1-6*/background: linear-gradient(to right, #F37335, #FDC830);
    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    -webkit-transition: 800ms ease all;
    -moz-transition: 800ms ease all;
    -ms-transition: 800ms ease all;
    -o-transition: 800ms ease all;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#start_btn:hover{
    background:#fff;
    color:black;
}

#start_btn:before,#start_btn:after{
    content:'';
    position: absolute;
    top:0;
    right:0;
    height:5px;
    width:0;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition:400ms ease all;
}

#start_btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

#start_btn:hover:before,#start_btn:hover:after{
    width:100%;
    transition:800ms ease all;
}

/*
    ========================================
    WIZARD MESSAGE
    ========================================
*/

#msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: 0 1rem;
    /* height: 60px; */
    color: #fff;
}

.wizard-rules {
    font-size: 110%;
}

#wizard{
    width: 60%;
    height: auto;
    margin: 0.5rem 0;
}

#arrow{
    width: 11%;
    height: auto;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 200ms ease all;
    -webkit-transition: 200ms ease all;
    -moz-transition: 200ms ease all;
    -ms-transition: 200ms ease all;
    -o-transition: 200ms ease all;
}

#arrow:hover {
    background: #FDC830;
}

#guide2{
    display: none;
}

#rules{
    display: none;
}

#startGame{
    display: none;
    font-size: 170%;
}

/*
    ========================================
    PHASER SCENE
    ========================================
*/

/* #phaser-game{
    // Transfered to #initial_screen
} */
