html {
    background: #0F0E0E;
}

.animation{
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -225px;
}

#myCanvas{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}


#start_btn{
    width: 300px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -150px;
    color: white;
    font-size: 17px;
    letter-spacing: 3px;
    border: none;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#start_btn{
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#fff;
    border:none;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

#start_btn:hover{
    background:#fff;
    color:black;
}

#start_btn:before,#start_btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:5px;
    width:0;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition:400ms ease all;
}

#start_btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

#start_btn:hover:before,#start_btn:hover:after{
    width:100%;
    transition:800ms ease all;
}

.player_start{
    height: 300px;
    position: absolute;
    top: 20%;
    left: 15%;
}


#phaser-game{
    height: 100vh;  
    width: 100vw;
    z-index: 1;
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#msg{
    width: 300px;
    height: 60px;
    position: absolute;
    top: 30%;
    left: 80%;
    margin: -30px 0 0 -150px;
    color: white;
}

#wizard{
    width: 200px;
    height: 250px;
}

#arrow{
    height: 30px;
    width: 30px;
}

#guide2{
    display: none;
}

#rules{
    display: none;
}

#startGame{
    display: none;
    font-size: 24px;
    margin-top: 150px;
}